@{
    ViewBag.Title = "Contact";
}
@model WebApplication2.Models.Profile
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    @Model.FirstName<br />
    @Model.LastName<br />
    
    @Model.Email
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>